* {
  box-sizing: border-box;
  color: rgb(77, 77, 77);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1em;
  flex-direction: column;

}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 6.25%;
  border: solid 0.1px rgb(77, 77, 77);
}