* {
  box-sizing: border-box;
  color: rgb(77, 77, 77);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 0.25em;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
}

.grid-item {
  padding: 10px;
  border: solid 0.1px rgb(77, 77, 77);
}

#reset-button {
  background-color: palegoldenrod;
  height: 5vh;
}